/* adminProduct.jsp(관리자:회원관리) css*/
@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.contents {
	display: block;
    align-items: center;
    background-color: white;
    width: 100%;
    align-content: center;
    text-align: center;
    height: 100%;
}

.plist {
	display: block;
	margin: auto;
}

table {
	margin: auto;
}

.searchsection {
	display: block;
    align-items: center;
    background-color: white;
    width: 100%;
    align-content: center;
    text-align: center;
    height: 100%;
}

